<div class="container">
    <!-- <div class="col-xs-12" style="text-align:center">
        <h1>
             {{ title }}!
        </h1>
    </div> -->
    <app-navbar></app-navbar>
    <!-- <app-search></app-search> -->
    <div>
        <!-- <app-read-json-files></app-read-json-files> -->
    </div>
    <div class="row">
        <h3>Please select your diet to view the products...</h3>
        <div class="col-xs-8">
            <button (click)="clickedADiet($event,'Paleo')" type="button" class="btn">Paleo</button>
            <button (click)="clickedADiet($event,'Ketogenic')"type="button" class="btn">Ketogenic</button>
            <button (click)="clickedADiet($event,'Gluten-free')"type="button" class="btn">Gluten-Free</button>
            <button (click)="clickedADiet($event,'Vegan')"type="button" class="btn">Vegan</button>
            <button (click)="clickedADiet($event,'Vegetarian')"type="button" class="btn">Vegetarian</button>
            <button (click)="clickedADiet($event,'Dairy-free')"type="button" class="btn">Dairy-Free</button>
            <button (click)="clickedADiet($event,'Kosher')"type="button" class="btn">Kosher</button>
            <!-- <button type="button" class="btn">All..</button> -->
        </div>
    </div>
    <div class=row [hidden]="!toShow">
        <table id="products"> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Diet</th>
                <th>Brand</th>
            </tr>
            <tr *ngFor="let product of products" class="form-table">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.desc}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.diet}}</td>
                <td>{{product.brand}}</td>
            </tr>
        </table>
    </div>

</div>