div{
    padding:20px;
}
button{
    margin-left:16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: aliceblue;
    border-color: coral;
    padding: 15px 32px;
    min-width:200px;
    font-size: medium;
}


#price {
    width: 20%;
}
#brand {
    width: 20%;
}
#diet{
    width:20%;
}
#header{
    font-family: 'Playfair', cursive;
    font-size:x-large;
    float:left;
    font-weight: bolder;
}
