div{
    padding:20px;
}
button{
    margin-left:16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: aliceblue;
    border-color: coral;
    padding: 15px 32px;
    min-width:250px;
    font-size: medium;
}
