<div class="topnav">
    <a class="navbar-brand" href="#"><b>Food Finder</b></a>
    <a class="active" href="#home">Home</a>
    <!-- <a href="#about">About</a>
    <a href="#contact">Contact</a> -->
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search" [(ngModel)] ="filterTerm">
        <button (click) ="searchFilter()"type="submit">Submit</button>
      </form>
    </div>
    <div class=container [hidden]="!toShow">
      <table id="products"> 
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Category</th>
              <th>Diet</th>
              <th>Brand</th>
          </tr>
          <tr *ngFor="let product of products | filter:filterTerm">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.desc}}</td>
              <td>{{product.price}}</td>
              <td>{{product.category}}</td>
              <td>{{product.diet}}</td>
              <td>{{product.brand}}</td>
          </tr>
      </table>
  </div>
  </div>