<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="500" alt="FoodFinder Logo" src="assets/images/food1.jpg"></div>
  <div>
    <h3>Please select your diet to view the products...</h3>
  </div>

<div>
<button type="button" class="btn btn-light mr-1">Paleo</button>
<button type="button" class="btn btn-dark">Ketogenic</button>
<button type="button" class="btn btn-light">Gluten Free</button>
<button type="button" class="btn btn-dark">Vegan</button>
<br>
<button type="button" class="btn btn-light">Vegetarian</button>
<button type="button" class="btn btn-dark">Dairy free</button>
<button type="button" class="btn btn-light">Organic</button>
<button type="button" class="btn btn-dark">Nut free</button>
<br>
<button type="button" class="btn btn-light">Soy free</button>
<button type="button" class="btn btn-dark">Kosher</button>





</div>

