<div class="col-xs-12">
<div class="input-group">
    <div class="form-outline">
      <input type="search"  id="form1" class="form-control"  />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn" (click) ="searchFilter()">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div class=row>
    <table id="products"> 
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Diet</th>
            <th>Brand</th>
        </tr>
        <tr *ngFor="let product of products" | filter:filterTerm>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.diet}}</td>
            <td>{{product.brand}}</td>
        </tr>
    </table>
</div>

</div>

